In [18]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings

In [19]:
warnings.filterwarnings("ignore", category=FutureWarning)

In [20]:
df = pd.read_csv("cars_avito.csv", encoding= 'utf-8')
df

,Prix,Type,Secteur,Kilométrage,Marque,Modèle,Nombre de portes,Origine,Première main,Puissance fiscale,État,Année,BoiteàV,Carburant,équipements
0,140000,"Voitures d'occasion, à vendre",Toute la ville,120 000 - 129 999,Dacia,Dokker,5.0,WW au Maroc,Oui,6.0,Excellent,2019,Manuelle,Diesel,"Caméra de recul, Limiteur de vitesse, CD/MP3/B..."
1,570000,"Voitures d'occasion, à vendre",Autre secteur,130 000 - 139 999,Land Rover,Range Rover Sport,5.0,WW au Maroc,Non,12.0,Excellent,2020,Automatique,Diesel,"Jantes aluminium, Vitres électriques, Caméra d..."
2,268000,"Voitures d'occasion, à vendre",Autre secteur,5 000 - 9 999,Opel,Astra,5.0,WW au Maroc,Oui,6.0,Excellent,2024,Automatique,Diesel,"Jantes aluminium, Vitres électriques, Caméra d..."
3,124000,"Voitures d'occasion, à vendre",Massira 3,200 000 - 249 999,Volkswagen,Touareg,5.0,WW au Maroc,Non,12.0,Excellent,2012,Automatique,Diesel,"Jantes aluminium, Vitres électriques, Caméra d..."
4,400000,"Voitures d'occasion, à vendre",Californie,140 000 - 149 999,Porsche,Cayenne,5.0,Importée neuve,Oui,12.0,Très bon,2016,Automatique,Diesel,"Jantes aluminium, Vitres électriques, Caméra d..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34146,87000,"Voitures d'occasion, à vendre",Ben Souda,180 000 - 189 999,Dacia,Logan,5.0,WW au Maroc,Non,6.0,Très bon,2018,Manuelle,Diesel,"ABS, Airbags, CD/MP3/Bluetooth, Climatisation,..."
34147,195000,"Voitures d'occasion, à vendre",Jirrari,80 000 - 84 999,Volkswagen,Tiguan,5.0,Dédouanée,Non,8.0,Très bon,2014,Manuelle,Diesel,"ABS, Airbags, CD/MP3/Bluetooth, Caméra de recu..."
34148,30000,"Voitures d'occasion, à vendre",Toute la ville,200 000 - 249 999,Volkswagen,Golf 4,5.0,Pas encore dédouanée,Non,6.0,Bon,2001,Manuelle,Diesel,NaN
34149,162000,"Voitures d'occasion, à vendre",Hay Dakhla,100 000 - 109 999,Hyundai,Accent,5.0,WW au Maroc,Non,6.0,Très bon,2021,Automatique,Diesel,"ABS, Airbags, CD/MP3/Bluetooth, Climatisation,..."
34150,125000,"Voitures d'occasion, à vendre",Agdal,200 000 - 249 999,Citroen,C4,5.0,Dédouanée,Non,6.0,Très bon,2012,Manuelle,Diesel,NaN

In [21]:
print(df['Carburant'].unique())
print(df['BoiteàV'].unique())
print(df['Origine'].unique())

['Diesel' 'Essence' 'Hybride' 'Electrique' nan 'LPG']
['Manuelle' 'Automatique' nan 'Essence' 'Diesel']
['WW au Maroc' 'Importée neuve' nan 'Pas encore dédouanée' 'Dédouanée']

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34151 entries, 0 to 34150
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Prix               34151 non-null  int64
 1   Type               31114 non-null  object
 2   Secteur            31114 non-null  object
 3   Kilométrage        31114 non-null  object
 4   Marque             31114 non-null  object
 5   Modèle             31114 non-null  object
 6   Nombre de portes   31114 non-null  float64
 7   Origine            31114 non-null  object
 8   Première main      31114 non-null  object
 9   Puissance fiscale  31114 non-null  float64
 10  État               31114 non-null  object
 11  Année              34151 non-null  object
 12  BoiteàV            34146 non-null  object
 13  Carburant          34139 non-null  object
 14  équipements        25920 non-null  object
dtypes: float64(2), int64(1), object(12)
memory usage: 3.9+ MB

In [23]:
df.isnull().sum()

Prix                    0
Type                 3037
Secteur              3037
Kilométrage          3037
Marque               3037
Modèle               3037
Nombre de portes     3037
Origine              3037
Première main        3037
Puissance fiscale    3037
État                 3037
Année                   0
BoiteàV                 5
Carburant              12
équipements          8231
dtype: int64

In [24]:
# Supprimer les lignes contient des valeurs nulls pour 'Marque' => Une dataset sans valeurs nulls
df = df.dropna(subset= 'Marque')

# Supprimer les colonnes unitiles
df = df.drop(['Secteur', 'Type', 'État', 'équipements'], axis= 1)
df

,Prix,Kilométrage,Marque,Modèle,Nombre de portes,Origine,Première main,Puissance fiscale,Année,BoiteàV,Carburant
0,140000,120 000 - 129 999,Dacia,Dokker,5.0,WW au Maroc,Oui,6.0,2019,Manuelle,Diesel
1,570000,130 000 - 139 999,Land Rover,Range Rover Sport,5.0,WW au Maroc,Non,12.0,2020,Automatique,Diesel
2,268000,5 000 - 9 999,Opel,Astra,5.0,WW au Maroc,Oui,6.0,2024,Automatique,Diesel
3,124000,200 000 - 249 999,Volkswagen,Touareg,5.0,WW au Maroc,Non,12.0,2012,Automatique,Diesel
4,400000,140 000 - 149 999,Porsche,Cayenne,5.0,Importée neuve,Oui,12.0,2016,Automatique,Diesel
...,...,...,...,...,...,...,...,...,...,...,...
34146,87000,180 000 - 189 999,Dacia,Logan,5.0,WW au Maroc,Non,6.0,2018,Manuelle,Diesel
34147,195000,80 000 - 84 999,Volkswagen,Tiguan,5.0,Dédouanée,Non,8.0,2014,Manuelle,Diesel
34148,30000,200 000 - 249 999,Volkswagen,Golf 4,5.0,Pas encore dédouanée,Non,6.0,2001,Manuelle,Diesel
34149,162000,100 000 - 109 999,Hyundai,Accent,5.0,WW au Maroc,Non,6.0,2021,Automatique,Diesel
34150,125000,200 000 - 249 999,Citroen,C4,5.0,Dédouanée,Non,6.0,2012,Manuelle,Diesel

In [25]:
from sklearn.preprocessing import OrdinalEncoder

# Appliquer l'encodage ordinale pour le variable "Premier main"
condition_ctg = ['Oui', 'Non']

condition_encoder = OrdinalEncoder(categories= [condition_ctg])

df['Première main'] = condition_encoder.fit_transform(df[['Première main']])

In [26]:
# Appliquer le One-hot encoding pour les variables non-ordinales
df_encoded = pd.get_dummies(df[['Carburant', 'BoiteàV', 'Origine']], dtype=int)

# Supprimer les colonnes qui vont etre encoder
df = df.drop(['Carburant', 'BoiteàV', 'Origine'], axis= 1)

# Concatiner df avec df_encoded qui contient les colonnes encoder
df = pd.concat([df, df_encoded], axis= 1)
df

,Prix,Kilométrage,Marque,Modèle,Nombre de portes,Première main,Puissance fiscale,Année,Carburant_Diesel,Carburant_Electrique,Carburant_Essence,Carburant_Hybride,Carburant_LPG,BoiteàV_Automatique,BoiteàV_Manuelle,Origine_Dédouanée,Origine_Importée neuve,Origine_Pas encore dédouanée,Origine_WW au Maroc
0,140000,120 000 - 129 999,Dacia,Dokker,5.0,0.0,6.0,2019,1,0,0,0,0,0,1,0,0,0,1
1,570000,130 000 - 139 999,Land Rover,Range Rover Sport,5.0,1.0,12.0,2020,1,0,0,0,0,1,0,0,0,0,1
2,268000,5 000 - 9 999,Opel,Astra,5.0,0.0,6.0,2024,1,0,0,0,0,1,0,0,0,0,1
3,124000,200 000 - 249 999,Volkswagen,Touareg,5.0,1.0,12.0,2012,1,0,0,0,0,1,0,0,0,0,1
4,400000,140 000 - 149 999,Porsche,Cayenne,5.0,0.0,12.0,2016,1,0,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34146,87000,180 000 - 189 999,Dacia,Logan,5.0,1.0,6.0,2018,1,0,0,0,0,0,1,0,0,0,1
34147,195000,80 000 - 84 999,Volkswagen,Tiguan,5.0,1.0,8.0,2014,1,0,0,0,0,0,1,1,0,0,0
34148,30000,200 000 - 249 999,Volkswagen,Golf 4,5.0,1.0,6.0,2001,1,0,0,0,0,0,1,0,0,1,0
34149,162000,100 000 - 109 999,Hyundai,Accent,5.0,1.0,6.0,2021,1,0,0,0,0,1,0,0,0,0,1
34150,125000,200 000 - 249 999,Citroen,C4,5.0,1.0,6.0,2012,1,0,0,0,0,0,1,1,0,0,0

In [27]:
# Supprimer les espaces d'apres le nom des variables
df.columns = df.columns.str.replace(" ", "_")

In [28]:
df['Kilométrage'] = df['Kilométrage'].str.replace(" ", "")

# Remplacer l'intervalle du kilometrage par la valeur moyenne
def get_avrg(val):
    
    val = str(val)
    
    if '-' in val:
        bounds = val.split('-')
        return (int(bounds[0]) + int(bounds[1])) / 2
    
    elif 'Moins' in val:
        number = int(val.split('e')[1])
        return number / 2
    
    else:
        number = int(val.split('e')[1])
        return number / 2 + 10000

df['Kilométrage'] = df['Kilométrage'].apply(get_avrg)

In [29]:
# Combiner la Marque et le modele 
df['Marque_Modele'] = (df['Marque'].str.strip() + '_' + df['Modèle'].str.strip()).str.replace(' ', '_')
df = df.drop(['Marque', 'Modèle'], axis= 1)

# Appliquer le target encoding pour remplacer chaque Marque_Modele par sa moyenne des prix
mean_prices = df.groupby('Marque_Modele')['Prix'].mean()

df['Marque_Modele_Encoded'] = df['Marque_Modele'].map(mean_prices)

In [31]:
# def vectorize_equipements(equipements_list, model):
#     vectors = [model.wv[word] for word in equipements_list if word in model.wv]
#     if vectors:
#         return np.mean(vectors, axis=0)
#     else:
#         return np.zeros(model.vector_size)
# 
# # Appliquer le word embeding utilisant FastText au equipements
# df['équipements_vector'] = df['équipements_clean'].apply(lambda x: vectorize_equipements(x, fasettext_model))

In [32]:
# df = df.drop(['équipements', 'équipements_clean'], axis= 1)

In [33]:
df

,Prix,Kilométrage,Nombre_de_portes,Première_main,Puissance_fiscale,Année,Carburant_Diesel,Carburant_Electrique,Carburant_Essence,Carburant_Hybride,Carburant_LPG,BoiteàV_Automatique,BoiteàV_Manuelle,Origine_Dédouanée,Origine_Importée_neuve,Origine_Pas_encore_dédouanée,Origine_WW_au_Maroc,Marque_Modele,Marque_Modele_Encoded
0,140000,124999.5,5.0,0.0,6.0,2019,1,0,0,0,0,0,1,0,0,0,1,Dacia_Dokker,1.182158e+05
1,570000,134999.5,5.0,1.0,12.0,2020,1,0,0,0,0,1,0,0,0,0,1,Land_Rover_Range_Rover_Sport,3.880283e+05
2,268000,7499.5,5.0,0.0,6.0,2024,1,0,0,0,0,1,0,0,0,0,1,Opel_Astra,1.241927e+05
3,124000,224999.5,5.0,1.0,12.0,2012,1,0,0,0,0,1,0,0,0,0,1,Volkswagen_Touareg,2.933840e+06
4,400000,144999.5,5.0,0.0,12.0,2016,1,0,0,0,0,1,0,0,1,0,0,Porsche_Cayenne,4.295238e+05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34146,87000,184999.5,5.0,1.0,6.0,2018,1,0,0,0,0,0,1,0,0,0,1,Dacia_Logan,9.841739e+04
34147,195000,82499.5,5.0,1.0,8.0,2014,1,0,0,0,0,0,1,1,0,0,0,Volkswagen_Tiguan,3.170961e+05
34148,30000,224999.5,5.0,1.0,6.0,2001,1,0,0,0,0,0,1,0,0,1,0,Volkswagen_Golf_4,6.619796e+04
34149,162000,104999.5,5.0,1.0,6.0,2021,1,0,0,0,0,1,0,0,0,0,1,Hyundai_Accent,1.341063e+05
34150,125000,224999.5,5.0,1.0,6.0,2012,1,0,0,0,0,0,1,1,0,0,0,Citroen_C4,1.114885e+05

In [34]:
try:
    df.to_csv('voitures_preprocessed_v2.csv', index=False, encoding='ISO-8859-1')
    print("file saved")
    
except:
    print("file didn't save")

file saved